.hero {
  background-image: url("./images/enquiry.jpg");
}

.enquiry-section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
}
.enquiry-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.enquiry-form input,
.enquiry-form select,
.enquiry-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.enquiry-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.enquiry-form button:hover {
  background-color: #0056b3;
}
